
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;

}
body
{
  min-height: 1000px;

}
p
{
  font-weight: 700;
  color: #111;
}
.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg/bg__header.jpg);
  background-size: cover;
}
.banner .content
{
  max-width: 900px;
  text-align: center;
}
.banner .content h2
{
  font-size: 5em;
  color: #fff;
}
.banner .content p
{
  font-size: 1em;
  color: #fff;
}
.btn
{
  font-size: 1em;
  color: #fff;
  background: #8600D8;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;

}
.btn:hover
{
  letter-spacing: 6px;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

}
header.sticky
{
  background: rgb(134,0,216);
  padding: 10px 20px

}
header.sticky a span
{
  color: #fff;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .sticky .logo
{
  color: #fff;
}
header .logo span
{
  color: #8600D8;
  font-size: 2em;
}
header .navegation
{
  position: relative;
  display: flex;
}
header .navegation li
{
  list-style: none;
  margin-left: 30px;
}
header .navegation li a
{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
header .sticky .navegation li a
{
  color: #111;
}
header .navegation li a:hover
{
  color: #F0AC04;
}
section
{
  padding: 100px;
  background-color: #3b3571;
}


.content h2 span
{
  color: #8600D8;
}
.row
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50
{
  position: relative;
  width: 50%;
}
.titleText
{
  color: #000;
  font-size: 2em;
  font-weight: 400;
}
.titleText_contacto
{
   color: #8600D8;
  font-size: 2em;
  font-weight: 400;
}
.titleText_contacto span
{
  color: #000;
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .imgBx
{
  position: relative;
  width: 100%;
  /*min-height: 300px;*/
  height: 85%;
}

.row .col50 .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.title
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .content
{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu .content .box
{
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content .box .imgBx
{
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text
{
  padding: 15px 0 5px;
}
.menu .content .box .text h3
{
  font-weight: 300;
  color: #111;
}
.expert .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.expert .content .box
{
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgBox
{
  position: relative;
  width: 100%;
  height: 300px;

}

.expert .content .box .imgBox img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .box .text
{
  padding: 15px 0 5px;
}

.expert .content .box .text h3
{
  font-weight: 500;
  color: #000;
}
.contact
{
background: rgb(4,0,41);
background: linear-gradient(360deg, rgba(4,0,41,1) 22%, rgba(59,53,113,0.9863542829241071) 96%);
}
.contactForm
{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
  border-radius: 10px;

}
.contactForm h3
{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;

}
.contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300px;
  resize: none;
}
.contactForm .inputBox button[type="submit"]
{
  font-size: 1em;
  color: #fff;
  font-weight: 400;
  background: #8600D8;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  max-width: 100px;
  border: none;
  cursor: pointer;
}
.contactForm .inputBox button[type="submit"]:hover
{
  transition: 0.2s;
  background: #DD2A7B;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.67);
}
.copyrighttext
{
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.copyrighttext p
{
  color: #333;

}
.copyrighttext a,  .copyrighttext span
{
  color: #8600D8;
  font-weight: 500;
  text-decoration: none;
}
.redes
{
  padding-top: 60px;
  margin: auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}
.redes span a
{
  text-decoration: none;
  color: #fff;
}
 .redes__whatsapp
 {
  display: none;
 }
 .redes__twitter a:hover
{
  color: #00acee;

}
 .redes__facebook a:hover
{
  color: #3b5998;

}
 .redes__whatsapp a:hover
{
  color: #435A64;

}
 .redes__instagram a:hover
{
  color: #DD2A7B;

}

@media(max-width: 991px)
{
  header, 
  header .sticky
  {
    padding: 10px 20px ;
  }
  header .navegation
  {
    display: none;
  }
  header .navegation.active
  {
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navegation li
  {
    margin-left: 0;
  }
  header .navegation li a
  {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 500;
  }
  .menuToggle
  {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background: url(../menu-icon/bx-menu.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active
  {
    background: url(../menu-icon/bx-x.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle
  {
    filter: invert(1);
  }
  header.sticky a.logo span
  {
    color: #fff;
    transition: 1s;
  }
  header.sticky a.logo
  {
    color: #ff;
    transition: 1s;
  }
  section
  {
    padding: 20px;
  }
  .banner .content h2
  {
    font-size: 3em;
    color: #fff;
  }
  .row
  {
    flex-direction: column;
  }
  .row .col50
  {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx
  {
    height: 300px;
    margin-top: 20px;

  }
   .redes__whatsapp
 {
  display: inline-block;
 }
}